img {
    width: 100%;
}

.imageContainer-for-Header {
    width:100%;
    border: 2px solid red;
}

.banner {
    display: grid;
    grid-template-columns: 2fr 3fr;
    background-color: black;
    opacity: 0.9;
    margin-top: 5px;
    border: 2px solid green;
}

.brand-name {
    color: white;
    text-align: center;
}