img {
    width: 100%;
}

.imageContainer-for-Header {
    width:100%
}


a {
    text-decoration: none;
}

body {
    background-color: black;
    background-position: center;
}

.posts {
    background-image: url(../images/bitcoin-background.jpg);
}

.news {
    width: 40%;
    margin: 0 auto;
    color: white;
    background-color: black;
    border-radius: 15px;
    text-align: center;
   
}

.opportunities {
    width: 40%;
    margin: 0 auto;
    color: white;
    background-color: black;
    border-radius: 15px;
    margin-bottom: 30px;
    text-align: center;
    min-width: 30%;

}

.jobs {
    width: 40%;
    margin: 0 auto;
    color: white;
    background-color: black;
    border-radius: 15px;
    text-align: center;
}

.soon {
    opacity: 0.5;
}

