body {
    background-color: black;
    
}

.head {
    background-color: black;
    color: white;
    text-align: center;
}

.all-posts {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: black;
}

